[defaults]
callback_whitelist = profile_tasks
private_key_file = .ssh/id_ed25519_ansible

[inventory]
enable_plugins = gcp_compute, host_list, script, auto, yaml, ini, toml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null